

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
h1 {
    text-align: center;
    color: #ffcc03;
    font-size: 5em;
    text-shadow: 1px 1px 1px blue, -1px 1px 1px blue, 1px -1px 1px blue, 1px -1px 1px blue;
    height: 80px;
    margin: 20px 0;
    font-family: 'pokemon_collage';
    
    
}